:root {
  /* color */
  --white-color: #fff;
}

.header-main {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.sub-top {
  position: relative;
}

.sub-list {
  text-decoration: none;
  color: var(--white-color);
  position: relative;
  z-index: 1;
  margin: 0 20px;
  font-size: 36px;
}

.sub-list span {
  display: none;
}

#icon-color1 {
  color: lightyellow;
}

#icon-color2 {
  color: lightgreen;
}

#icon-color3 {
  color: steelblue;
}

#icon-color4 {
  color: lightcoral;
}

#icon-color5 {
  color: gold;
}

#icon-color6 {
  color: var(--white-color);
}
