.video-wrap {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1,
.content h3 {
  color: #fff;
  text-align: center;
  line-height: 1.7;
}

.content h1 {
  font-size: 120px;
}

.content h3 {
  font-size: 40px;
}
